.messages-page {
  height: 100%;
  min-height: 100vh;
  margin-top: 0;
  background: url("paws-bg.png");
  overflow-x: clip;
}

.messages-page .messages-profile-header {
  margin-left: 2.5rem;
  width: 100%;
  display: flex;
  align-items: flex-end;
  gap: 1rem;
}

.messages-page .messages-title {
  color: #038eff;
  margin-bottom: 0.5rem;
}

.messages-page .messages-list {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.messages-page .messages-card {
  display: flex;
  align-items: center;
  padding-left: 1rem;
}

.messages-page .messages-image {
  width: 20%;
  aspect-ratio: 1 / 1;
  border-radius: 10%;
  border: 3px solid #ffbe00;
  margin-right: 1rem;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.5);
  object-fit: cover;
}

.messages-page .messages-details {
  display: flex;
  flex-direction: column;
}

.messages-page .messages-header {
  display: flex;
  align-items: center;
  gap: 10px;
}

.messages-page .messages-name {
  font-size: 2.5rem;
  font-weight: bold;
  color: #038eff;
  margin: 0;
}

.messages-page .messages-breed {
  opacity: 0.5;
  color: black;
  margin: 0;
}

.messages-page .messages-dogName {
  margin-top: 5px;
  color: black;
  opacity: 0.5;
}

.messages-page .no-messages {
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
  text-align: center;
}
