.settings-page {
	padding-top: 1rem;
	min-height: calc(100vh - 6rem) !important;
}

.settings-header {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.settings-header > img {
	width: 25vw;
	height: 25vw;
	object-fit: cover;
	border-radius: 12px;
	border: 5px solid #ffbe00;
	box-shadow: 0px 3px 4px lightgrey;
}

.settings-header > h1 {
	color: #038eff;
	margin: .5rem 0 0 0;
}

.settings-header > hr {
	width: calc(100vw - 5rem);
	background-color: lightgrey;
}

.settings-links {
	display: flex;
	flex-direction: column;
	padding: 0 2.5rem;
	gap: .75rem;
}

.settings-links > a {
	color: #404040;
	font-size: 30px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%
}

.settings-links > a > p {
	margin: 0;
}

.settings-buttons {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 1.5rem;
}

.settings-buttons > button {
	width: 60%;
	font-size: 24px;
	font-weight: 600;
	color: white;
	padding: 8px;
	box-shadow: 0px 3px 4px lightgrey;
}

.btn-yellow {
 background-color: #ffbe01;
}

.btn-red {
	background-color: #e65565;
}

.settings-page > dialog[open] {
	display: flex;
	flex-direction: column;
	align-items: center;
	max-width: 75%;
	text-align: center;
	border: 0;
	border-radius: .5rem;
}

.settings-page > dialog[open] > h2 {
	margin: .5rem;
	line-height: 1em;
}

.settings-page > dialog[open] > p {
	margin: 0 1rem 1rem;
	line-height: 1.25em;
	font-size: 1.15rem;
}

.settings-page > dialog[open] > button.big-text {
	font-size: 1.15rem;
}