body {
  display: flex; /* Use flexbox to center everything inside the body */
  justify-content: center; /* Center content vertically */
  align-items: center; /* Center content horizontally */
  overflow: hidden;
}

.container {
  margin-top: 12vh;
}

.background-images {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
}

.background-images img {
  position: absolute;
}

.pawTop {
  width: 8%;
  transform: rotate(-20deg);
  right: 3em;
  top: 4.5em;
}

.pawBottom {
  width: 15%;
  transform: rotate(20deg);
  left: 4em;
  top: 15em;
}

.image-container-collar {
  width: 100vw;
  margin-top: 5em;
}

.image-container-collar .image {
  width: 100%;
}

.title h1 {
  color: white;
  text-align: center;
  font-size: 4rem;
  margin-top: 0;
  margin-bottom: 0;
}

.title h2 {
  text-align: center;
  font-size: 1.25rem;
  margin-bottom: 0;
}

button {
  display: block;
  margin-top: 0;
}

.reg_button {
  background-color: #03c0ff;
  color: white;
  padding: 1rem 6rem;
  font-size: 1rem;
  font-weight: bold;
  box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.2);
}

.login_button {
  background-color: transparent;
  color: white;
  font-size: 1rem;
  font-weight: bold;
}

.button-container {
  margin-top: 2em;
}
