/* 
  App.css defines reusable stylies for elements such as
    - containers
    - buttons
    - forms & inputs
    - layouts
    - etc.
  Other component-specific css files are to be used for non-reusable styles, or styles specific to a certain component.
*/

#root {
  width: 100%;
  max-width: 1280px;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

.container {
  display: flex;
  flex-direction: column; /* Stack elements vertically */
  justify-content: flex-start; /* Align the content at the top */
  align-items: center; /* Center the content horizontally */
  min-height: 100vh; /* Ensure the container takes up the full viewport height */
  width: 100%; /* Ensure it takes the full width of the viewport */
}

/* Input fields and buttons */
button {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  font-size: 1rem;
  border-radius: 8px;
  border: 1px solid transparent;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

button.btn-blue {
  background-color: #038eff;
  color: white
}

input {
  width: calc(100%-20px);
  padding: 10px;
  margin-bottom: 10px;
  font-size: 1rem;
  border-radius: 4px;
  border: none;
  box-shadow: 0px 4px 5px #00000033;
}

/* Make form more compact for smaller screens */
form {
  display: flex;
  flex-direction: column;
  gap: 1em;
  min-width: 100%;
  max-width: 400px;
  margin: 0 auto;
}

form > div {
  display: flex;
  flex-direction: column;
}

.app-navbar {
  position: sticky;
  bottom: 0;
  display: flex;
  background: linear-gradient(
    to bottom,
    #03c0ff,
    #038eff
  );
  height: 4rem;
  align-items: center;
  justify-content: space-around;
  font-size: 2rem;
  padding-bottom: 1rem;
}

/* Media query for mobile screens (up to 600px) */
/* @media (max-width: 600px) {
  form {
    max-width: 100%;
  }
} */
