/* 
  index.css defines our most basic design decisions, including:
    - font choices
    - colors
    - variables
    - etc.
*/

@import url('https://fonts.googleapis.com/css2?family=Zain:wght@200;300;400;700;800;900&display=swap');

:root {
  font-family: "Zain", Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: #ffffff;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background: linear-gradient(
    to bottom,
    #03c0ff,
    #038eff
  ); /* Light blue to dark blue */
}

a {
  color: #f7cf12;
  text-decoration: none;
}

a:hover {
  color: #ffffff;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
